(securite) {
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}

{$DOMAIN} {
  tls internal
  import securite
  reverse_proxy dashboard:3000
}

{$DOMAIN}:{$GRAFANA_PORT} {
  tls internal
  import securite
  reverse_proxy grafana:3000
}
